* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
:root{
	--main-color:#1f2935;
	--secondry-color:#15232e;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "Baloo-paaji-2-Std-Regular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
	color: #ffffff;
}
input,textarea,select{
	font-family: "Baloo-paaji-2-Std-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #fff;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "Circular-Std-Regular", Arial;
	font-weight: 400;
	color: #ffffff;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1100px;
}
@font-face {
	font-family: 'Baloo-paaji-2-Std-Semi-bold';
	src:url('../fonts/baloopaaji2-semibold-webfont.woff2') format('woff2');
	src:url('../fonts/baloopaaji2-semibold-webfont.woff') format('woff');
	font-style: normal;
}
@font-face {
	font-family: 'Baloo-paaji-2-Std-Regular';
	src:url('../fonts/baloopaaji2-regular-webfont.woff2') format('woff2');
	src:url('../fonts/baloopaaji2-regular-webfont.woff') format('woff');
	font-style: normal;
}
@font-face {
    font-family: 'Baloo-paaji-2-Std-Bold';
    src: url("../fonts/baloopaaji2-bold-webfont.woff2") format("woff2");
    src: url("../fonts/baloopaaji2-bold-webfont.woff") format("woff");
    font-style: normal
}
header{
	display: flex;
	justify-content: space-between;
	height: 100px;
	background-color:var(--main-color);
	align-items: center;
	padding: 0 3%;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
}
header div.left{
	 display: flex;
	 justify-content: flex-start;
	 align-items: center;
	 /* width: 50%;
	 min-width: 500px; */
}
header div.left h1{
 	width: 180px;
 	margin-right: 100px;
}
header div.left h1 a{
	display: block;
}
header div.left h1 a img{
 	display: block;
 	width: 100%;
}
header div.left span.hanburger{
 	width: 22px;
 	display: block;
 	margin-right: 60px;
}
header div.left span.hanburger a{
	display: block;
}
header div.left span.hanburger img{
 	width: 100%;
 	display: block;
 
}
header div.left form{
 	display: flex;
 	justify-content: flex-start;
 	align-items: center;
 	width: 350px;
 	height: 50px;
 	background-color: var(--secondry-color);
	 padding: 10px;
	 border-radius: 8px;
}
header div.left form small{
	width: 18px;
	margin-right: 10px;
	display: block;
}
header div.left form small img{
	display: block;
	width: 100%;
}
header div.left form input{
	font-size: 18px;
	color: #ffffff;
	width: 100%;
}
header div.right{
	display: flex;
	align-items: center;
}
header div.right div.icon{
	padding-right: 30px;
	margin-right: 10px;
	display: flex;
	align-items: center;
	border-right: 1px solid #303842;
}
header div.right div.icon span{
	margin-right: 30px;
	width: 23px;
	display: inline-block;
}
header div.right div.icon span:last-child{
	margin-right: 0;
}
header div.right div.icon span a{
	display: block;
}
header div.right div.icon span img{
	display: block;
	width: 100%;
}
header div.right div.user{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 30px;
}
header div.right div.user span{
	width: 50px;
	display: block;
	border-radius: 50%;
	margin-right: 20px;
}
header div.right div.user span a{
	display: block;
}
header div.right div.user span img{
	width: 100%;
	display: block;
	border-radius: 50%;
}
header div.right div.user h6{
	font-size: 18px;
	font-family: 'Baloo-paaji-2-Std-bold';

}
header div.right div.user h6 a{
	display: block;
	color: #ffffff;
}
header div.right div.user h6 small{
 display: inline-block;
 width: 12px;
}
header div.right div.user h6 small img{
 display: block;
 width: 100%;
}
aside{
	position: fixed;
	top: 100px;
	left: 0;
	background-color: var(--main-color);
	width: 18.5%;
	min-width: 70px;
	height: calc(100vh - 100px);
}
aside ul{

}
aside ul li{
	height: 60px;
	padding-left: 40px;
	display: flex;
	align-items: center;
}
aside ul li:hover{
	background-color: var(--secondry-color);
}
.active{
	background-color: var(--secondry-color);
	background: url(../images/Rectangle\ 6.png) no-repeat;
}
aside ul li a{
	display: block;
	display: flex;
	align-items: center;
	color: #ffffff;
}
aside ul li a span{
	/* width: 20px; */
	display: inline-block;
	margin-right: 20px;
}
aside ul li a span img{
	width: 100%;
	display: block;

}
aside ul li a p{
	font-size: 18px;
	font-family: 'Baloo-paaji-2-Std-bold';
}
#main{
	padding: 30px;
	padding-left:20%;
	margin-top: 100px;
	background-color:var(--secondry-color);
	box-sizing: border-box;
	width: 100%;
}
#main nav.nav-main{
	background-color: var(--main-color);
	height: 100px;
	padding:40px;
	display: flex;justify-content: space-between;
	align-items: center;

}
#main nav.nav-main h3 {
	width: 200px;
	color: #ffffff;
	font-family: 'Baloo-paaji-2-Std-semi-bold';
	font-size: 23px;
}
#main nav.nav-main form{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 350px;
	height: 50px;
	background-color: var(--secondry-color);
	padding: 10px;
	border-radius: 8px;
}
#main nav.nav-main form small{
   width: 18px;
   margin-right: 10px;
   display: block;
}
#main nav.nav-main form small img{
   display: block;
   width: 100%;
}
#main nav.nav-main form input{
   font-size: 18px;
   color: #ffffff;
}
#main section.content{
	background-color: var(--main-color);
	padding:0 40px;
}
#main section.content ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#main section.content ul li{
	width: 32%;
	background-color:var(--secondry-color);
	margin-bottom: 25px;
	border-radius:8px;
	padding: 40px;
}
#main section.content ul li div.top{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#main section.content ul li div.top div.img_box{
	width: 80px;
	height: 80px;
	border-radius:50%;
	overflow: hidden;
	margin-right: 20px;
}
#main section.content ul li div.top div.img_box img{
	width:110%;	
	display: block;
}
#main section.content ul li div.top div.details{

}
#main section.content ul li div.top div.details h6{
	font-size: 24px;
	font-family: 'Baloo-paaji-2-Std-semi-bold'
}
#main section.content ul li div.top div.details span{
	font-size: 18px;
	font-family: 'Baloo-paaji-2-Std-semi-bold';
	display: block;
}
#main section.content ul li div.middle{
	margin-top: 30px;
	margin-left: 10px;
}
#main section.content ul li div.middle a{
	display: block;
	font-size: 18px;
	font-family: 'Baloo-paaji-2-Std-semi-bold';
	display: flex;
	align-items: center;
}
#main section.content ul li div.middle a span{
	max-width: 22px;
	display: inline-block;
	margin-right: 15px;
}
#main section.content ul li div.middle a span img{
	display: block;
	max-width: 22px;
}
#main section.content ul li div.bottom{
	margin-top: 30px;
}
#main section.content ul li div.bottom h4{
	font-size: 23px;
	font-family: 'Baloo-paaji-2-Std-semi-bold';
	margin-bottom: 8px;
}
#main section.content ul li div.bottom span.label{
	padding: 3px 15px;
	font-size: 18px;
	background-color: rgb(255, 255, 255);
	display: inline-block;
	color: var(--main-color);
	border-radius: 30px;
	margin-right: 5px;
}
#main section.content ul li div.bottom div.menu{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
#main section.content ul li div.bottom div.menu a.button{
	width: 48%;
	display: inline-block;
	text-align: center;
	border: 1.5px solid #fff;
	padding: 8px 0;
	box-sizing: border-box;
	border-radius: 3px;
	margin-right: 5px;
}
#main section.content ul li div.bottom div.menu a.button span:last-child{
	margin-right: 0;
}
#main section.content ul li div.bottom div.menu a.bg{
	border: none;
	background-color: #1ec569;
	border: 1.5px solid #1ec569;
	color: #000000;
}

#main section.content ul li div.bottom div.menu a.button span{
	display: inline-block;
	width: 23px;
	margin-right: 10px;
}
#main section.content ul li div.bottom div.menu a.button span img{
	max-width: 23px;
	display: block;
	
}
#main section.content ul li div.bottom div.menu a.button small{
	font-size: 20px;
	display: inline-block;
}
@media all and (max-width:1500px){
	aside{
		width: 50px;
	}
	aside ul li a p {
		display: none;
	}
	aside ul li{
		padding-left: 20px;
	}
	#main{
		padding: 20px;
		padding-left: 90px;
	}
	#main section.content ul li div.top div.details h6 {
		font-size: 20px;
	}
	#main section.content ul li {
		padding: 20px;
	}
}
@media all and (max-width:1200px){
	#main section.content ul li{
		width: 48.5%;
	}
	header div.left form {
		width: 250px;
		margin-right: 20px;
	}
	header div.right div.user{
		padding-left: 0;
	}
	header div.right div.user span{
		width: 40px;
	}
	header div.right div.user h6 {
		font-size: 16px;
	}
}
@media all and (max-width:1024px){
	header div.left form {
		display: none;
	}
}
@media all and (max-width:900px){
	#main section.content ul li div.bottom span.label{
		font-size: 16px;
	}
	#main section.content ul li div.bottom div.menu a.button small{
		font-size: 18px;
	}
	#main section.content ul li div.bottom div.menu a.button {
		width: 100%;
		margin-bottom: 15px;
	}
	#main section.content ul li div.bottom div.menu a.button:last-child{
		margin-bottom: 0;
	}
}
@media all and (max-width:768px){
	#main section.content ul li{
		width: 100%;
	}
	header div.right div.user h6 {
		display: none;
	}
}
@media all and (max-width:600px){
	#main nav.nav-main form{
		width: 150px !important;
		height: 40px;
	}
	#main nav.nav-main form input{
		width: 50px;
	}
	header div.right div.icon{
		display: none;
		padding-right: 0;
		margin-right: 10px;
	}
	header div.right div.user{
		display: none;
	}
	header div.left{
		justify-content: space-between;
		width: 100%;
	}
}
@media all and (max-width:480px){
	header{
		padding: 0 20px;
		width: 100%;
	}
	header div.left h1 {
		margin-right: 0;
		width: 150px;
	}
	header div.left span.hanburger {
		margin-right: 10px;
	}
	aside{
		display: none;
	}
	#main{
		padding:20px 0;
	}
	#main section.content{
		padding:20px;
	}
	#main nav.nav-main form{
		display: none;
	}
	#main section.content ul li div.top div.details h6{
		font-size: 20px;
	}
	#main section.content ul li div.top div.details span {
		font-size: 16px;
	}
	#main section.content ul li div.top div.img_box{
		width: 50px;
		height: 50px;
	}
	#main section.content ul li div.middle {
		margin-left: 0;
	}
	#main nav.nav-main{
		padding: 30px 20px 0px;
		height: 50px;
	}
}